.videoFooter{
    position: relative;
    margin-left: 20px;
    bottom: 150px;
}

.videoFooter__text{
    position: absolute;
    bottom: 0;
    display: flex;
    margin-bottom: 20px;
}

.videoFooter__text > h3 {
    margin-left: 10px;
    padding-bottom: 20px;
}

.videoFooter__text > h3 > button {
    font-weight: 800;
    text-transform: inherit;
}

.videoFooter__ticker > .ticker {
    width: 50%;
    margin-left: 30px;
    margin-right: 20px;
    height: fit-content;
}

.videoFooter__ticker h1 {
    font-size: 12px;
    padding-top: 5px;
}

.videoFooter__icon {
    position: absolute;
    left: 5px;
}

.videoFooter__actions {
    display: flex;
    position: absolute;
    width: 95%;
    justify-content: space-between;
}
.videoFooter__actionsLeft > .MuiSvgIcon-root {
    padding: 20px 10px;
}

.videoFooter__actionsRight {
    display: flex;
}

.videoFooter__stat {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.videoFooter__stat > p {
    margin-left: 3px;
}

.videoFooter__actionsLeft{
    display: flex;
    justify-content: space-between;
}